body{
    background-color: rgb(255, 246, 246);
}
#root{
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 95vh;
    width: 95vw;
}
ul{
  border-color: rgb(170, 170, 170);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  padding: 0;
}
li{
  list-style: none;
  padding: .5em;
  background-color: aliceblue;
}
li:hover{
  background-color: rgb(152, 217, 236);
  border-color: rgb(77, 156, 221);
  color: rgb(0, 0, 0);

}
li:active{
  background-color: rgb(108, 205, 235);
  border-color: rgb(77, 156, 221);
  color: rgb(0, 0, 0);

}
#menuwrap{
  border-radius: 5px;

}
#drumachine{
    display: grid;
    grid-gap: 2%;
    justify-content: center;
    align-content: center;
    background-color: #2C2C2E;
    border-radius: 10px;
    height: 75vh;
    width: 75vh;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
}

.waba{
  border-radius: 5%;
  width: 100%;
  height: 100%;
  color: rgb(41, 40, 40);
  text-align: center;
  font-size: 16px;
  border-style: none;
}
.waba.un{background: radial-gradient(80.63% 80.63% at 50% 50%, #FC9C9C 0%, rgba(196, 196, 196, 0) 100%, rgba(255, 0, 0, 0) 100%), #FF0000;}
.waba.do{background: radial-gradient(80.63% 80.63% at 50% 50%, #9CB7FC 0%, rgba(196, 196, 196, 0) 100%, rgba(255, 0, 0, 0) 100%), #0038FF;}
.waba.tr{background: radial-gradient(80.63% 80.63% at 50% 50%, #FAFC9C 0%, rgba(196, 196, 196, 0) 100%, rgba(255, 0, 0, 0) 100%), #FFE600;}
.waba.cu{background: radial-gradient(80.63% 80.63% at 50% 50%, #F49CFC 0%, rgba(196, 196, 196, 0) 100%, rgba(255, 0, 0, 0) 100%), #EB00FF;}
.waba.ci{background: radial-gradient(80.63% 80.63% at 50% 50%, #9CFCFC 0%, rgba(196, 196, 196, 0) 100%, rgba(255, 0, 0, 0) 100%), #00F0FF;}
.waba.se{background: radial-gradient(80.63% 80.63% at 50% 50%, #FCD09C 0%, rgba(196, 196, 196, 0) 100%, rgba(255, 0, 0, 0) 100%), #FF9900;}
.waba.si{background: radial-gradient(80.63% 80.63% at 50% 50%, #C69CFC 0%, rgba(196, 196, 196, 0) 100%, rgba(255, 0, 0, 0) 100%), #8F00FF;}
.waba.oc{background: radial-gradient(80.63% 80.63% at 50% 50%, #9CE5FC 0%, rgba(196, 196, 196, 0) 100%, rgba(255, 0, 0, 0) 100%), #00B2FF;}
.waba.nu{background: radial-gradient(80.63% 80.63% at 50% 50%, #A4FC9C 0%, rgba(196, 196, 196, 0) 100%, rgba(255, 0, 0, 0) 100%), #14FF00;}
button:active {
    /* set time duration to your needs */
    animation: gradient 100ms;
    background: #f88;
    color: #fff;
    box-shadow: none;
  }
@keyframes gradient {
    0% {
      background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
    }
    25% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
    }
    50% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
    }
    75% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
    }
    100% {
      color: #fff;
      background: radial-gradient(circle at center, #f88 99%, #fff 100%, #fff 100%);
    }
  }

  