body{
    background-color: rgb(255, 255, 255);
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
}
li{
  list-style: none;
  border-color: rgb(170, 170, 170);
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  padding: .5em;
  background-color: aliceblue;
}
li:hover{
  background-color: rgb(152, 217, 236);
  border-color: rgb(77, 156, 221);
  color: rgb(0, 0, 0);

}
#menuwrap{
  border-radius: 5px;

}
#drumachine{
    display: grid;
    height: 80vh;
    width: 80vh;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

#waba{
  background-image:radial-gradient(rgb(243, 149, 207), rgb(250, 2, 155));
  width: 100%;
  height: 100%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 6px 6px #06f;
  outline: none;
}
button:active {
    /* set time duration to your needs */
    animation: gradient 100ms;
    background: #f88;
    color: #fff;
    box-shadow: none;
  }
@keyframes gradient {
    0% {
      background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
    }
    25% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
    }
    50% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
    }
    75% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
    }
    100% {
      color: #fff;
      background: radial-gradient(circle at center, #f88 99%, #fff 100%, #fff 100%);
    }
  }